body {
    font-family: "Arial";
    margin-right: 25px;
    margin-left: 25px;
}

.has-error {
    color: red;
}

.top-bar {
    margin-bottom: 25px;
    border-bottom: 1 px solid black;
}

.top-bar .app-name{
    width: 100px;
    display: inline;
}

.top-bar h1.app-name a {
    color: black;
}

.top-bar .user {
    float: right;
}

.ordering {
    height: 35px;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 25px;
    background-color: #f1f1f1;
}

.ordering a {
    text-decoration: underline;
}

.ordering a:hover {
    cursor: pointer;
}

.movies {
    overflow: hidden;
}

.add-movie-btn a {
    float: right;
    padding-right: 50px;
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

.movies-list {
    width: 70%;
    float: left;
}

.movie {
    border: 1px solid black;
    margin-bottom: 12px;
    padding: 12px;
}

.title {
    margin: 6px 0px 6px 0px;
}

.description {
    padding-top: 12px;
}

.separator {
    padding: 0px 5px 0px 5px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: underline;
}

a.active {
    text-decoration: none;
}

.pagination a:hover {
    cursor: pointer;
}

.center {
    width: 70%;
    text-align: center;
    margin-bottom: 12px;
}

.page-ind {
    margin-bottom: 12px; font-size: 12px;
}

.registration-form {
    align-self: flex-start;
    display: grid;
    justify-items: left;
    align-items: left;
}

.login-form {
    align-self: flex-start;
    display: grid;
    justify-items: left;
    align-items: left;
}

.submit-btn {
    width: 75px;
    height: 25px;
    margin-top: 5px;
}


span.post-info a, span.user-info a, span.user a {
    color: black;
    text-decoration: underline;
}

.user-logout {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

#id_username, #id_password, #id_password1,
#id_password2, #id_first_name, #id_last_name,
#id_title {
    width: 250px;
    height: 20px;
}

#id_description {
    resize: none;
    width: 50%;
    height: 250px
}

.hidden {
    display: none;
}

.up-arr, .dow-arr {
    font-size: 18px;
}

.user-filter {
    margin-left: 25px;
}

.user-filter-x {
    margin-left: 5px;
    font-size: 16px;
    color: red;
}